{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": ["@babel/preset-react"],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "transform-class-properties",
        "@babel/plugin-syntax-dynamic-import"
      ]
    }
  }
}
